.RH_PaymentMethods {
    width: 1232px;
    margin: auto ;
}

.RH_paymenttitlte{
    font-family: var(--second-font);
    font-size: 32px;
    font-weight: 700;
    line-height: 40.42px;
    text-align: left;
    margin-top: 40px;

      
}

.RH_groupcard {
    margin: 0 auto;
    width: 1232px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 0px 4px 16px 0px #1122110D;
    background-color: white;

    opacity: 0px;
    gap: 24px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 16px;
}

.RH_card2 {
    width: 387px;
    height: 212px;
    border: 2px dashed var(--main-bgcolor);
    border-radius: 16px;
    Padding: 16px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.RH_circle {

    width: 48px;
    height: 48px;
    top: 8px;
    left: 8px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;


    border-radius: 50%;
    border: 2px solid var(--main-bgcolor);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.RH_circle button {
    border: none;
    background-color: white;
    color: var(--main-bgcolor);
}

.RH_plus {
    width: 20px;
    height: 20px;
    top: 22px;
    left: 22px;
    gap: 0px;
    opacity: 0px;

}

.RH_PaymentMethods p {
    font-family: var(--main-font);
    font-weight: var(--second-font-weight);
    font-size: 12px;
}

.RH_card1 {
    width: 387px;
    height: 212px;
    background-color:var(--main-bgcolor) ;
    border: 2px dashed var(--main-bgcolor);
    border-radius: 16px;
    Padding: 16px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}


/*first box*/

.RH_1row{
    display: flex;
}